<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.axet.audiorecorder"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.voicerecorder.audiorecorder.soundrecorder.recordaudioandroid.app.AudioApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_new"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_logo_new"
        android:supportsRtl="true"
        android:theme="@style/Translucent">
        <activity
            android:theme="@style/MaterialTheme"
            android:name="com.voicerecorder.audiorecorder.soundrecorder.recordaudioandroid.activities.PlayActivity"
            android:exported="false" />
        <activity
            android:launchMode="singleTask"
            android:name="com.voicerecorder.audiorecorder.soundrecorder.recordaudioandroid.activities.WelcomeActivity"
            android:exported="false"
            android:theme="@style/MaterialTheme" />
        <activity
            android:name="com.voicerecorder.audiorecorder.soundrecorder.recordaudioandroid.activities.SplashActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="audio/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.voicerecorder.audiorecorder.soundrecorder.recordaudioandroid.activities.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialTheme" />

        <service android:name="com.voicerecorder.audiorecorder.soundrecorder.recordaudioandroid.services.RecordingService" />
        <service android:name="com.voicerecorder.audiorecorder.soundrecorder.recordaudioandroid.services.EncodingService" />
        <service android:name="com.voicerecorder.audiorecorder.soundrecorder.recordaudioandroid.services.ControlsService" />
        <service
            android:name="com.voicerecorder.audiorecorder.soundrecorder.recordaudioandroid.services.TileService"
            android:exported="true"
            android:icon="@drawable/ic_voice"
            android:label="@string/tile_start_recording"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <activity
            android:name="com.voicerecorder.audiorecorder.soundrecorder.recordaudioandroid.activities.AppIntro"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialTheme" />
        <activity
            android:name="com.voicerecorder.audiorecorder.soundrecorder.recordaudioandroid.activities.SettingsActivity"
            android:label="@string/settings"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.voicerecorder.audiorecorder.soundrecorder.recordaudioandroid.activities.TrimAudioActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/RecThemeLight.NoActionBar" />
        <activity
            android:name="com.voicerecorder.audiorecorder.soundrecorder.recordaudioandroid.activities.LanguageStartActivity"
            android:exported="false"
            android:theme="@style/MaterialTheme" />
        <activity
            android:name="com.voicerecorder.audiorecorder.soundrecorder.recordaudioandroid.activities.LanguageActivity"
            android:exported="false"
            android:theme="@style/MaterialTheme" />
        <activity
            android:name="com.voicerecorder.audiorecorder.soundrecorder.recordaudioandroid.activities.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Translucent"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.voicerecorder.audiorecorder.soundrecorder.recordaudioandroid.activities.RecordingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true">
            <intent-filter>
                <action android:name="android.provider.MediaStore.RECORD_SOUND" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.voicerecorder.audiorecorder.soundrecorder.recordaudioandroid.activities.SuccessActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true" />

        <receiver
            android:name="com.voicerecorder.audiorecorder.soundrecorder.recordaudioandroid.services.OnBootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.voicerecorder.audiorecorder.soundrecorder.recordaudioandroid.services.OnUpgradeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.voicerecorder.audiorecorder.soundrecorder.recordaudioandroid.services.OnExternalReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.EXTERNAL_APPLICATIONS_AVAILABLE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.github.axet.androidlibrary.services.StorageProvider"
            android:authorities="com.voicerecorder.audiorecorder.soundrecorder.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_id" /> <!-- //firebase -->
        <service
            android:name="com.voicerecorder.audiorecorder.soundrecorder.recordaudioandroid.services.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.ads.flag.NATIVE_AD_DEBUGGER_ENABLED"
            android:value="false" />
    </application>

</manifest>